<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/" class="navbar-link">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#/user/{{model.userId}}">
               Profile
            </a>
            <p class="navbar-text pull-right">
                <a href="" class="navbar-link" ng-click="model.updateUser(model.user)">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <div class="alert alert-danger" ng-show="model.error">
        {{model.error}}
    </div>

    <div class="alert alert-danger" ng-show="model.deleteError">
        {{model.deleteError}}
    </div>

    <div class="alert alert-danger" ng-show="model.errorMessage">
        {{model.errorMessage}}
    </div>

    <div class="alert alert-success" ng-show="model.successMessage">
        {{model.successMessage}}
    </div>

    <form>

        <div class="form-group">
            <label for="first-name">First Name</label>
            <input type="text"
                   ng-model="model.user.firstName"
                   class="form-control"
                   id="first-name"
                   placeholder="Alice">
        </div>

        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text"
                   ng-model="model.user.lastName"
                   class="form-control"
                   id="last-name"
                   placeholder="Wonderland">
        </div>

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text"
                   ng-model="model.user.username"
                   class="form-control"
                   id="username"
                   placeholder="alice" disabled>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password"
                   ng-model="model.user.password"
                   class="form-control"
                   id="password"
                   placeholder="alice@123">
        </div>

        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email"
                   ng-model="model.user.email"
                   class="form-control"
                   id="email"
                   placeholder="alice@wonderland.com">
        </div>

    </form>

    <a class="btn btn-primary btn-block"
       href="#/user/{{model.userId}}/website">My Websites</a>

    <a class="btn btn-success btn-block"
       ng-click="model.updateUser(model.user)">Update Profile</a>

    <a class="btn btn-danger btn-block"
       ng-click="model.deleteUser(model.user)">Delete Profile</a>

    <a class="btn btn-danger btn-block"
       href="#/login">Logout</a>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>
