<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Web App Maker</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li ng-show="model.currentUser.roles.indexOf('ADMIN')>-1"><a href="#/admin">Admin</a></li>
                <li ng-show="!model.currentUser._id"><a href="#/login">Login</a></li>
                <li ng-show="!model.currentUser._id"><a href="#/register">Register</a></li>
                <li ng-show="model.currentUser._id"><a href="#/profile">Profile</a></li>
                <li ng-show="model.currentUser._id"><a href="" ng-click="model.logout()">Logout</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container theme-showcase" role="main">

    <div class="alert alert-danger"
         ng-show="model.error">
        {{model.error}}
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>CS 5610 Web Development</h1>
    </div>


</div> <!-- /container -->
