<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/" class="navbar-link">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#/profile">
                Profile
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <h1>ADMIN</h1>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="#/admin/users">
                Users
            </a>
        </li>
    </ul>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>