input.form-control,
textarea.form-control,
select.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

nav .container-fluid.row, .navbar-footer {
    background-color: #337ab7;
    border-color: #337ab7;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-link,
.navbar.navbar-default a {
    color: white;
}

.navbar-header,
.row.navbar-text {
    width: 100%;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-link:hover,
.navbar-default .navbar-brand:focus {
    color: white;
}

a {
    white-space: nowrap;
}

@media (max-width: 767px) {
    .navbar-header {
        padding-left: 30px;
    }
}

li {
    overflow: hidden;
}

.widget-image {
    width: 100%;
}

.wd-widget-toolbar {
    position: absolute;
    right: 15px;
    background-color: white;
    opacity: 0.8;
    padding: 5px;
    border-bottom-left-radius: 10px;
}

.wd-widget {
    margin-bottom: 20px;
}

.widget-video {
    position: relative;
    padding-bottom: 56.25%;
}

.widget-video iframe {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
}

.wd-widget-youtube-toolbar {
    margin-right: -15px;
}

.upload {
    margin-bottom: 5px;
}



