/* Header and Navigation*/

#header-nav {
    background-color: #191919 !important;
    border: 0;
    border-radius: 0;
    margin-top: -20px;
    height: auto;
}

.navbar-brand a{
    color : #fec503 ;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
    text-decoration: none;
}

.navbar-brand a:hover,
.navbar-brand a:focus,
.navbar-brand a:active {
    text-decoration: none;
    color: #fec503;
}

#nav-list {
    margin-top: -15px;
    background-color: #191919;
}

#nav-list a{
    color: #fec503 !important;
    font-size: 1.3em;
    margin-bottom: 15px;
}

#nav-list a:hover,
#nav-list a:focus,
#nav-list a:active {
    text-decoration: none;
    color: #fec503;
}

.navbar-header button.navbar-toggle , .navbar-header .icon-bar {
    border : 1px solid #fec503;
}

.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -10px;
}

@media (max-width: 768px) {

    #collapsable-nav {
        border: none;
    }

    #nav-list a.login-element {
        margin-top: 30px;
    }

    .navbar-header button.navbar-toggle:hover,
    .navbar-header button.navbar-toggle:focus,
    .navbar-header button.navbar-toggle:active{
        background-color: #333333;
    }
}

/* Search bar for location */

.search-bar {
    padding-top: 300px;
    margin-left: 25%;
    margin-right: 25%;
}

.register, .login {
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
}

.register-element, .login-element {
    color: #191919;
}

.register-element:hover,
.register-element:focus,
.register-element:active,
.login-element:hover,
.login-element:focus,
.login-element:active {
    color: #191919;
}

.form-group .btn {
    color : #fec503;
    background-color: #191919;

}

.form-group .btn:hover, .btn-search:hover {
    background-color: #333333;
}

.form-group .btn:active {
    outline: #333333;
}

.search-box {
    height : 50px;
}

a .glyphicon-search {
    width: 30px;
}

@media (max-width: 768px) {
    .search-bar {
        padding-top: 200px;
        margin-left: 10%;
        margin-right: 10%;
    }
}
