<div>
    <form role="form" ng-submit="">
        <div class="input-group search-bar-location">
            <input type="text" class="form-control search-box" placeholder="Search for a restaurant..." autofocus="">
            <a class="input-group-addon search-box btn-primary btn-search" ng-click="">
                <i class="glyphicon glyphicon-search"></i>
            </a>
        </div>
    </form>
</div>


<div class="container-fluid">
    <h2 class="collection-result-title">All collections in the city of {{model.city_name}}...</h2>
    <div ng-repeat="collection in model.collections">
        <div class="col-md-3 col-sm-6 col-xxs-12">
            <div class="collection-image">
                <a ui-sref="index.restaurantCollections({city_name: model.city_name, city_id: model.city_id, collection_id: collection.collection_id})">
                <img class="img-responsive" ng-src="{{collection.image_url}}" alt="{{collection.title}}">
                <span>{{collection.title}}</span>
                </a>
            </div>
        </div>
    </div>
</div>
