<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Widget Heading Editor</title>
    <link href="../vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="widget-list.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="widget-heading-edit.html">
                Widget Heading Editor
            </a>
            <p class="navbar-text pull-right">
                <a href="widget-list.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <label for="name">Name</label>
    <input class="form-control"
           placeholder="facebook"
           value="Header"
           id="name"/>

    <label for="text">Text</label>
    <input class="form-control"
           placeholder="facebook"
           value="FLASHBACK FRIDAY"
           id="text"/>

    <label for="size">Size</label>
    <select id="size" class="form-control">
        <option>1 (X-Large)</option>
        <option>2 (Larger)</option>
        <option>3 (Large)</option>
        <option>4 (Medium)</option>
        <option>5 (Small)</option>
        <option>6 (Smallest)</option>
    </select>

    <a href="widget-list.view.client.html" class="btn btn-block btn-danger">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="../../user/templates/profile.view.client.html" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
    </div>
</nav>

</body>
</html>