<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
                Choose Widget
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item"><a href="" ng-click="model.goToWidget('HEADING')">Heading</a></li>
        <li class="list-group-item"><a href="" ng-click="model.goToWidget('HTML')">HTML</a></li>
        <li class="list-group-item"><a href="" ng-click="model.goToWidget('IMAGE')">Image</a></li></li>
        <li class="list-group-item"><a href="" ng-click="model.goToWidget('YOUTUBE')">YouTube</a></li></li>
        <li class="list-group-item"><a href="" ng-click="model.goToWidget('TEXT')">Text</a></li></li>
    </ul>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>