<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new/" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new/{{model.widgets.widgetType}}/{{model.widgetId}}">
                {{model.widgets.widgetType}} widget
            </a>
            <p class="navbar-text pull-right">
                <a href=""
                   class="navbar-link"
                   ng-click="model.updateWidget(model.widgets)">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="alert alert-danger alert-dismissable"
         ng-show="model.errorWidgetCreate">
        <a class="close">&times;</a>
        {{model.errorWidgetCreate}}
    </div>
</div>

<div ng-include="model.getEditorTemplateUrl(model.widgets.widgetType)"></div>

<div class="container-fluid">
    <a class="btn btn-block btn-success"
       ng-click="model.updateWidget(model.widgets)">
        Create
    </a>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>