<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}">
                {{model.widgets.widgetType}} editor
            </a>
            <p class="navbar-text pull-right">
                <a href=""
                   class="navbar-link"
                   ng-click="model.updateWidget(model.widgets)">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <div class="alert alert-danger alert-dismissable"
         ng-show="model.errorWidget">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        {{model.errorWidget}}
    </div>

    <div class="alert alert-danger alert-dismissable"
         ng-show="model.errorUpdate">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        {{model.errorUpdate}}
    </div>

    <div class="alert alert-danger alert-dismissable"
         ng-show="model.errorDelete">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        {{model.errorDelete}}
    </div>

    <div class="alert alert-danger alert-dismissable"
         ng-show="model.errorName">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        {{model.errorName}}
    </div>

</div>

<div ng-include="model.getEditorTemplateUrl(model.widgets.widgetType)"></div>

<div class="container-fluid">
    <a class="btn btn-block btn-success"
        ng-click="model.updateWidget(model.widgets)">
        Update
    </a>
    <a class="btn btn-block btn-danger"
       ng-click="model.deleteWidget(model.widgets)">
        Delete
    </a>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>