<div class="container-fluid">

    <label for="name">Name</label>
    <input ng-model="model.widgets.name"
           class="form-control"
           id="name"/>

    <label for="text">Text</label>
    <input ng-model="model.widgets.text"
           class="form-control"
           id="text"/>

    <label for="rows">Rows</label>
    <input ng-model="model.widgets.rows"
           class="form-control"
           type="number"
            id="rows"/>

    <label for="placeholder">Placeholder</label>
    <input ng-model="model.widgets.placeholder"
           class="form-control"
           id="placeholder"/>

    <label for="formattable">Formatted</label>
    <input ng-model="model.widgets.formattable"
           type="checkbox"
           id="formattable"/>

</div>
