<div class="container-fluid">

    <label for="name">Name</label>
    <input class="form-control"
           ng-model="model.widgets.name"
           placeholder="YouTube"
           id="name"/>

    <label for="text">Text</label>
    <input class="form-control"
           placeholder="YouTube Title"
           ng-model="model.widgets.text"
           id="text"/>

    <label for="url">URL</label>
    <input class="form-control"
           placeholder="https://youtu.be/AM2Ivdi9c4E"
           ng-model="model.widgets.url"
           id="url"/>

    <label for="width">Width(%)</label>
    <input class="form-control"
           placeholder="100%"
           ng-model="model.widgets.width"
           id="width"/>
</div>

