<div class="container-fluid">

    <label for="name">Name</label>
    <input class="form-control"
           placeholder="HTML"
           ng-model="model.widgets.name"
           id="name"/>

    <label for="text">Text</label>
    <div class="form-group">
        <div ng-model="model.widgets.text"
             id="text"
             text-angular
             ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
            ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
            ['indent','outdent'],['html']]">
        </div>
    </div>
</div>