<div class="container-fluid">

    <label for="name">Name</label>
    <input class="form-control"
           placeholder="Image"
           ng-model="model.widgets.name"
           id="name"/>

    <label for="text">Text</label>
    <input class="form-control"
           placeholder="Image Name"
           ng-model="model.widgets.text"
           id="text"/>

    <label for="url">URL</label>
    <input class="form-control"
           ng-model="model.widgets.url"
           placeholder="http://www.uefa.com/MultimediaFiles/Photo/competitions/Comp_Matches/01/79/97/64/1799764_w2.jpg"
           id="url"/>

    <label for="width">Width(%)</label>
    <input class="form-control"
           ng-model="model.widgets.width"
           placeholder="100%"
           id="width"/>

    <label for="upload">Upload Image</label>
    <form action="/api/assignment/upload"   method="post" enctype="multipart/form-data">
        <input  name="myFile"    type="file" id="upload" class="form-control"/>
        <input  name="width"     value="{{model.widgets.width}}" style="display: none"/>
        <input  name="userId"    value="{{model.userId}}"        style="display: none"/>
        <input  name="websiteId" value="{{model.websiteId}}"     style="display: none"/>
        <input  name="pageId"    value="{{model.pageId}}"        style="display: none"/>
        <input  name="widgetId"  value="{{model.widgetId}}"   style="display: none"/>
        <button type="submit"    class="btn btn-block btn-primary upload">Upload Image</button>
    </form>

    <a class="btn btn-info btn-block"
       href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}/search">
        Search Flickr
    </a>
</div>
