<div class="container-fluid">

    <label for="name">Name</label>
    <input class="form-control"
           ng-model="model.widgets.name"
           placeholder="facebook"
           value="YouTube"
           id="name"/>

    <label for="text">Text</label>
    <input class="form-control"
           placeholder="facebook"
           ng-model="model.widgets.text"
           value="YOUTUBE"
           id="text"/>

    <label for="url">URL</label>
    <input class="form-control"
           placeholder="youtube"
           ng-model="model.widgets.url"
           value="https://www.youtube.com/watch?v=R7FdqIthU0s"
           id="url"/>

    <label for="width">Width(%)</label>
    <input class="form-control"
           placeholder="width"
           ng-model="model.widgets.width"
           value="100%"
           id="width"/>
</div>

