<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Widget Image Editor</title>
    <link href="../vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="widget-list.html" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="widget-image-edit.html">
                Widget Image Editor
            </a>
            <p class="navbar-text pull-right">
                <a href="widget-list.html" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <label for="name">Name</label>
    <input class="form-control"
           placeholder="facebook"
           value="Image"
           id="name"/>

    <label for="text">Text</label>
    <input class="form-control"
           placeholder="facebook"
           value="FLASHBACK FRIDAY"
           id="text"/>

    <label for="url">URL</label>
    <input class="form-control"
           placeholder="facebook"
           value="http://www.uefa.com/MultimediaFiles/Photo/competitions/Comp_Matches/01/79/97/64/1799764_w2.jpg"
           id="url"/>

    <label for="width">Width</label>
    <input class="form-control"
           placeholder="facebook"
           value="100%"
           id="width"/>

    <label for="file">Upload</label>
    <input id="file" multiple type="file" class="form-control"/>

    <a href=""
       class="btn btn-block btn-primary">Upload Image</a>

    <a href="widget-list.html"
       class="btn btn-block btn-danger">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="../user/templates/profile.view.client.html" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
    </div>
</nav>

</body>
</html>