<div class="wd-widget widget-video" ng-show="widget.url">
    <iframe src="{{model.getYouTubeEmbedUrl(widget.url)}}" width="{{widget.width}}" frameborder="0" allowfullscreen></iframe>
    <div class="wd-widget-toolbar wd-widget-youtube-toolbar">
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
            <span class="glyphicon glyphicon-cog"></span>
        </a>
        <span class="handle glyphicon glyphicon-sortable glyphicon-align-justify"></span>
    </div>
</div>